* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.contact .content{
    padding-top: 10%;
    max-width: 800px;
    text-align: center;

}

.contact .content h2{
    margin-bottom: 5%;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    margin-top: -90%;
}

.contact .content p{
   
    font-weight: 300;
    color: #fff;
}

.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 8%;

}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin-left: 22%;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 2%;
    font-size: 16px;
    color:white;
    flex-direction: column;
    font-weight: 300;
    
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;

}
.container .contactInfo .box .text p{
    color: #fff;
}

.contactform{
    width:40%;
    padding:40px;
    background: white;
    margin-top: -80px;

}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactform .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputBox input,
.contactform .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background: transparent;
}

.contactform .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span {
    color: #00bcd4;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputBox input[typpe="submit"]{
    width: 100px;
    background: #00bcd4;
    color:#fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}